
/*-------------------- Brackets --------------------*/

.bracket a { color: #6f6f6f; }
.bracket a:hover { color: #4a4a4a; }

.bracket-column { float: left; width: 275px; margin: 0 25px 0 0;  }
.bracket-column ul { list-style: none;}
.bracket-column li { margin-bottom: 5px; }
.bracket-column li:last-child { margin-bottom: 0; }

.match { background: #f6f6f6; border-radius: 2px; padding: 1px; overflow: hidden; color: #171717; }
.match .participant { background: #ededed; }
.match .participant-away { background: #f2f2f2; border-top: 1px solid #f6f6f6; }
.match .participant .name,
.match .participant .score,
.match .participant .icon { float: left; display: inline-block; height: 40px; vertical-align: middle; line-height: 40px; }
.match .participant .name { padding: 0 5px; width: 170px; overflow: hidden; }
.match .participant .name a { font-weight: bold; font-size: 12px; display: block; }
.match .participant .score { float: right; background: rgba(255, 255, 255, .50); width: 40px; border-left: 1px solid #f6f6f6; text-align: center; }
.match .participant .icon { background: #f2f2f2; }
.match .participant .icon img { display: block; height: 40px; border-radius: 2px; }

.status-loss { background: #ffeeee !important; }
.status-win { background: #eefff1 !important; }
.status-tie { background: #eef1ff !important; }

/*-------------------- Round Robin --------------------*/

.round-robin .table td { text-align: center; }
.round-robin .participant,
.round-robin .score { background: #fff; font-weight: bold; }
.round-robin .void { background: #d7d7d7; }

/*-------------------- Swiss --------------------*/
