body {
	font: normal 14px Verdana, Arial, sans-serif;
	background: #69D2E7; }

a { color: #F38630; text-decoration: none; }
a:hover { color: #FA6900; }
a.alt { color: #69D2E7; }
a.alt:hover { color: #A7DBD8; }

h1, h2, h3, h4, h5, h6 { font-weight: normal; }
p { margin-bottom: 15px; }

.clear {
	clear: both;
	display: block; }

.align-center { text-align: center; }
.align-right { text-align: right; }

/*------------ Layout ------------*/

.body {
	background: #fff;
	padding: 25px; }

.foot {
	text-align: center;
	padding: 25px; }

.logo { display: inline-block; }
.logo img { display: block; }
.logo-team img { height: 40px; }
.logo-player img { height: 40px; }

/*------------ Page ------------*/

.page-title { margin-bottom: 25px; }
.page-title h2 { font-size: 32px; }
.page-title .buttons { float: right; }
.page-title .buttons .button { margin-left: 10px; }

/*------------ Container ------------*/

.container {
	color: #f2f2f2;
	margin-bottom: 25px;
	background: #171717;
	border-radius: 3px; }

.container-head h3 {
	color: #69D2E7;
	padding: 10px;
	font-weight: bold; }

.container-body { padding: 5px; }

/*------------ Button ------------*/

.button {
	display: inline-block;
	position: relative;
	background: none;
	border: 0;
	padding: 9px 14px;
	margin: 0;
	text-decoration: none;
	cursor: pointer;
	text-align: center;
	vertical-align: middle;
	outline: none;
	overflow: hidden;
	font-family: sans-serif;
	user-select: none;
	zoom: 1; }

.button.disabled,
.button[disabled],
.button.disabled:hover,
.button[disabled]:hover {
	opacity: .50;
	cursor: not-allowed; }

.button {
	background: #F38630;
	color: #171717;
	font-weight: bold;
	border-radius: 3px;
	text-shadow: 1px 1px rgba(255, 255, 255, .5); }

.button:hover {
	color: #171717;
	background: #FA6900; }

.button.large {
	padding: 12px 19px;
	font-size: 16px; }

/*------------ Table ------------*/

.table {
	color: #535353;
	background: #ededed;
	border-radius: 2px;
	overflow: hidden; }

.table table {
	width: 100%;
	border-spacing: 1px;
	border-collapse: collapse; }

.table thead th,
.table tbody td {
	border: 1px solid #f6f6f6;
	vertical-align: middle; }

.table.no-paging thead th,
.table tbody td { padding: 10px; }

.table thead th a {
	display: block;
	padding: 10px;
	color: #171717; }

.table thead th a:hover { background: #fff; }

.table thead tr { background: #f6f6f6; }
.table tbody tr:nth-child(even) { background: #f2f2f2; }

.no-results {
	padding: 50px !important;
	text-align: center; }

/*------------ Pagination ------------*/

.pagination {
	display: block;
	text-align: right; }

.pagination.top { margin-bottom: 5px; }
.pagination.bottom { margin-top: 5px; }

.pagination ol {
	display: inline-block;
	list-style: none; }

.pagination li {
	margin-left: 5px;
	display: inline-block;
	vertical-align: middle; }

.pagination li a {
	display: inline-block;
	padding: 2px 8px;
	background: #69D2E7;
	border-radius: 2px;
	color: #171717;
	text-shadow: 1px 1px #83eaff; }

.pagination li a:hover { background: #A7DBD8; }

.pagination li.current {
	font-weight: bold;
	padding: 2px 8px; }

/*------------ Tabs ------------*/

.tabs nav ul {
	list-style: none;
	margin-bottom: 25px; }

.tabs nav li {
	display: inline-block;
	margin-right: 3px; }

.tabs nav a.active {
	outline: none;
	background: #f2f2f2; }

/*------------ Form ------------*/

form {
	display: inline-block;
	width: auto; }

.input { margin-bottom: 15px; }

.input.text input,
.input.password input,
.input select,
.input textarea {
	padding: 5px;
	border-radius: 2px;
	border: 1px solid #A7DBD8; }

.input.text input:focus,
.input.password input:focus,
.input select:focus,
.input textarea:focus { border-color: #69D2E7; }

.input select { padding: 4px; }
.input.checkbox input { margin-right: 5px; }

.input:not(.checkbox) label {
	vertical-align: top;
	width: 150px;
	padding-top: 3px;
	display: inline-block; }

.submit { text-align: center; }
.error-message { color: red; margin-top: 5px; }